<footer>
    <div class="content">
        <div class="left box">
            <div class="upper">
                <div class="topic">About me</div>
                <p>I am a self-motivated developer who can build websites using various tools such as HTML,
                    CSS, and also JavaScript.</p>
            </div>
            <div class="lower">
                <div class="topic">Services</div>
                <div><a href="#">Web Design, Development</a></div>
                <div><a href="#">DevOps</a></div>
            </div>
        </div>
        <div class="middle box">
            <div class="topic">Contact me</div>
            <div class="phone">
                <a href="#"><i class="fas fa-phone-volume"></i>+007 9089 676010</a>
            </div>
            <div class="email">
                <a href="mailto:email@mlh.comm"><i class="fas fa-envelope"></i>email@mlh.com</a>
            </div>
            <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="right box">
            <div class="topic">Send Me a Message</div>
            <form action="#">
                <input type="textarea" placeholder="Enter your message">
                <input type="submit" name="" value="Send">
            </form>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright © 2020. All rights reserved</p>
    </div>
</footer>