<footer>
    <div class="content">
        <div class="left box">
            <div class="upper">
                <div class="topic">Services</div>
                <div><a href="#">Web Design, Development</a></div>
                <div><a href="#">Digital Marketing</a></div>
                <div><a href="#">DevOps</a></div>
                <div><a href="#">UI & UX</a></div>
            </div>
        </div>
        <div class="right box">
            <div class="topic">Contact me</div>
            <div class="phone">
                <a href="#"><i class="fas fa-phone-volume"></i>+007 9089 676010</a>
            </div>
            <div class="email">
                <a href="mailto:email@mlh.comm"><i class="fas fa-envelope"></i>email@mlh.com</a>
            </div>
            <div class="media-icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
            </div>
            <div class="message-form-section">
                <button class="btn message-form-btn" onclick="openForm()"><i class="fas fa-sms"></i>Send
                    Message</button>
            </div>
        </div>
    </div>
    <div class="bottom">
        <p>Copyright © 2020. All rights reserved</p>
    </div>
</footer>