<header class="nav-bar">
    <div class="nav-content">
        <div class="theme-switch-wrapper">
            <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox" />
                <div class="slider round">
                    <i class="fas fa-sun fa-xs"></i>
                    <i class="fas fa-moon fa-xs"></i>
                </div>
            </label>
        </div>
        <a href="{{ '/' | relative_url }}">
            <div class="nav-logo">
                <img src="./assets/img/logo.svg" />
            </div>
        </a>
    </div>
</header>