<header class="nav-bar">
  <div class="nav-content">
    <div class="logo-container">
        <div class="nav-logo">
            <a href="{{ '/' | relative_url }}">
            <img src="./assets/img/logo.svg" />
        </div>
      </a>
    </div>
    <div class="links-container">
      <a class="nav-item" target="_blank" href="{{ 'https://drive.google.com/file/d/16MsEvf5VTyq2FYVAPQoVZtEpGr6ampF5/view?usp=sharing' }}"> CV </a>
        <a class="nav-item" href="{{ '/projects/project' | relative_url }}"> Projects </a>
        <a class="nav-item" href="{{ '/projects/project' | relative_url }}"> Work Experience </a>
        <a class="nav-item" href="{{ '/projects/project' | relative_url }}"> Education </a>
        <a class="nav-item" href="{{ '/projects/project' | relative_url }}"> Contact Me </a>


        </div>
  </div>
</header>
