<h2>Projects</h2>
<div class="card-container">  
    {% for item in site.data.projects %}
    {% if item.page-name %}
    <!-- <a href="/projects/{{ item.page-name }}"> -->
    <a>
    {% else %}
    <a>
    {% endif %}
      <div class="card">
        <div class="info">
          <p class="title">{{ item.title }}</p>
          <p class="location">{{ item.event }}</p>
          <p class="dates">{{ item.date }}</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            Project details
          </button>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  