<h2>Projects</h2>
<div class="card-container">
    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Project detail</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            inside the modal
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>  
    {% for item in site.data.projects %}
    {% if item.page-name %}
    <!-- <a href="/projects/{{ item.page-name }}"> -->
    <a>
    {% else %}
    <a>
    {% endif %}
      <div class="card">
        <div class="info">
          <p class="title">{{ item.title }}</p>
          <p class="location">{{ item.event }}</p>
          <p class="dates">{{ item.date }}</p>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            Project details
          </button>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  