footer {
    width: 100%;
    display: inline-block;
    background-color: #1c539f;
    font-family: "Poppins", serif;
    bottom: 0;
    left: 0;
    margin-top: 50px;
}
footer .content {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .content p,
a {
    color: #fff;
}
footer .content .box {
    width: 49%;
    transition: all 0.4s ease;
    text-align: center;
}
footer .content .topic {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;
}
footer .content p {
    text-align: justify;
}
footer .content .right input[type="textarea"] {
    height: 60px;
    width: 100%;
    outline: none;
    color: #1c539f;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: none;
}
footer .content .right input[type="submit"] {
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #1c539f;
    background: #ffc300;
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid #ffc300;
    transition: all 0.3s ease-in-out;
}
.content .right input[type="submit"]:hover {
    background: none;
    color: #ffc300;
}
footer .content .media-icons a {
    font-size: 18px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #fff;
    margin: 10px 5px 0 0;
}
footer .content .media-icons a:hover {
    border-color: #ffc300;
}
footer .btn {
    margin: 10px 5px 0 0;
}
// Contact form style
/* The popup form - hidden by default */
footer .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
}
/* Add styles to the form container */
footer .form-container {
    max-width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(28, 83, 159, 0.4);
    transition: 0.3s;
    color: #404040;
}
footer .form-container .form-header {
    background-color: #1c539f;
    border-radius: 5px 5px 0px 0px;
}
footer .form-container .form-body {
    padding: 10px;
}
footer .form-container:hover {
    box-shadow: 0 8px 16px 0 rgba(28, 83, 159, 0.4);
}
footer .form-container .form-header h1 {
    font-size: 20px;
    padding: 15px;
    color: #fff;
}
/* Full-width input fields */
footer .form-container input[type="email"],
footer .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
footer .form-container textarea {
    resize: none;
}
/* When the inputs get focus, do something */
footer .form-container input[type="email"]:focus,
footer .form-container textarea:focus {
    background-color: rgba(28, 83, 159, 0.1);
    outline: none;
}
footer .form-container .send {
    background-color: rgba(28, 83, 159, 0.8);
    width: 42%;
}
footer .form-container .send:hover {
    background-color: rgba(28, 83, 159, 1);
    color: #fff;
}
/* Add a red background color to the cancel button */
footer .form-container .cancel {
    background-color: rgba(207, 20, 43, 0.8);
    width: 42%;
}
footer .form-container .cancel:hover {
    background-color: rgba(207, 20, 43, 1);
    color: #fff;
}
footer .bottom {
    width: 100%;
    text-align: right;
    color: #f1f1f1;
    padding: 0 40px 5px 0;
}
footer a {
    transition: all 0.3s ease;
    color: #fff;
}
footer a:hover {
    color: #ffc300;
}
footer .content .fas {
    margin-right: 10px;
}
@media (max-width: 950px) {
    footer .content .box {
        width: 50%;
    }
    .content .right {
        margin-top: 40px;
    }
}
@media (max-width: 560px) {
    footer {
        position: relative;
    }
    footer .content .box {
        width: 100%;
        margin-top: 30px;
    }
}
