.nav-bar {
  width: 100%;
  display: inline-block;
  background-color: #1c539f;
  font-family: "Poppins", serif;
  font-weight: 700 !important;
  padding-top: 10px;
}

.nav-content .logo-touch-target {
  display: flex;
  height: 60%;
  width: 350px;
}

.nav-content .nav-logo {
  height: 60px;
  margin: auto;
}

.nav-logo {
  align-items: center;
  justify-content: left;
  padding-left: 0.5rem;
}

.nav-logo img {
  width: 200px;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
}

.logo-container {
  float: left;
}

.links-container {
  float: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
}
