.profile {
    background-color: #1d539f !important;
    text-align: center;
    height: 320px;
    margin-bottom: 50px;
    h1 {
        font-size: 50px;
        font-weight: 700;
        color: white;
    }

    img {
        border-radius: 50%;
        max-width: 100%;
        max-height: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding: 20px;
    }

    .profile-picture {
        margin-bottom: 30px;
        height: 200px;
    }

    /* Style buttons */
    .resume-btn {
        background-color: rgba(255, 195, 0, .7);
        border: none;
        color: white;
        padding: 12px 30px;
        cursor: pointer;
        font-size: 20px;
    }

    /* Darker background on mouse-over */
    .resume-btn:hover {
        background-color: rgba(255, 195, 0, 1);
    }
}

.toggle {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #c53c02;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #751b00;
}

.toggle:focus {
    outline: none;
}

.toggle:hover {
    background-color: #ff4c00;
    outline: none;
}

.toggle:active {
    background-color: #fdee00;
    box-shadow: 0 5px #ecc700;
    transform: translateY(4px);
    outline: none;
}